body{
    background-repeat: repeat-y;
    /* background-image: url("/asset/img/sexygame_bg.jpg"); */
    /* background-image: linear-gradient(180deg,#a70089 0%, #350b5d 100%);  */
    background-color: #350b5d;
    background-position: 20%;
    line-height: 1.4;
    margin: 0 auto;
    box-shadow:  0px 0px 30px 5px #350b5d;
}

.regis-a {
    text-align: center;
    color: #fff;
    padding: 10px 20px 10px 20px;
    cursor: pointer;
    border-radius: 20px;
    font-weight: lighter;
    line-height: 1.1;
    background: linear-gradient(to bottom, rgba(217,178,255,1) 0%, rgba(132,0,255,1) 100%);
    box-shadow: 0px 0px 20px 0px rgba(149,37,255,1) !important;
}
.hvr-pulse-grow {
    vertical-align: baseline !important;
}
.line-a{
    text-align: center;
    font-weight: normal;
    color: #fff;
    padding: 10px 20px 10px 20px;
    cursor: pointer;
    border-radius: 20px;
    font-weight: lighter;
    background: linear-gradient(to bottom, #00c300, #008a00);
    box-shadow: 0px 0px 20px 0px #00c300 !important;
}
.login-a {
    text-align: center;
    font-weight: normal;
    color: #fff;
    padding: 10px 20px 10px 20px;
    cursor: pointer;
    border-radius: 20px;
    font-weight: lighter;
    background: linear-gradient(to bottom, rgb(255, 104, 205) 0%, rgb(220, 16, 152) 100%);
    box-shadow: 0px 0px 20px 0px rgb(211, 17, 146) !important;
}
.tab-content-detail{
    background-color: #1e003b ;
}
.silder-img{

        width: 50%;
        text-align: center;
}
.nav-bg{
    background-color: transparent;
background-image: linear-gradient(to bottom, #350b5d 0, #350b5d 100%); 
}
.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.text-muster{
    color: white !important;
    font-family: 'Prompt', sans-serif;
    font-size: 16px;
}
.text-onboard{
    color: white !important;
    font-family: 'Prompt', sans-serif;
    font-size: 20px;
}
.bg-black{
    background-color: #1e003b;
}
.text-header{
    color: #ad02fc!important;
    font-size: 28px;
    font-family: 'Prompt', sans-serif;
}
.text-master{
    color: #ad02fc;
}
.silder-img{
    width: 100%;
    text-align: center;
}
.body-bgcolor{
    background-color: black;
}
.Detail-bar{
        margin: -20px 0px -20px 0px;
        padding: 0px 0px 0px 0px;
        background-color: transparent;
        background-image: linear-gradient(180deg, #ad02fc 0%, #ff2bfb 100%);
        border-radius: 10px 10px 10px 10px;
        
}
.marketing .col-lg-4{
    margin-bottom: 1.5rem;
    text-align: center;
}
.col-lg-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}
.icon-three{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
